@charset "UTF-8";

body {
	background-image: url(images/white_wall.png);
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	min-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	min-width: 700px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	height: 100%;
	min-width: 700px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.content {
	min-width: 700px;
	height: 100%;
	max-width: 1200px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
}

/*.content ul, .content ol {
	padding: 0 15px 15px 40px; 
	position: relative;
}*/

#info {
	position: absolute;
	float: left;
	top: 250px;
	width: 200px;
	height: 300px;
	background-color: #CEDEA8;
	border-radius: 22px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 16px;
	
	
	font-family: 'Abel', sans-serif;
}

#info2 {
	position: absolute;
	float: left;
	top: 700px;
	border-radius: 30px;
	background-color: #CEDEA8;
	padding-left: 30px;
	padding-bottom: 16px;
	width: 200px;
	font-family: 'Abel', sans-serif;
}

img#aino {
	position: static;
	border-radius: 90px;
	width: 150px;
	height: 150px;
	margin-left: 70px;
	top: 260px;
}

img {
	display: block;
}

img#logo {
	bottom: 0px;
	right: 10px;
	position: absolute;
}

#mainnav ul {
	background-color: #CEDEA8;
	padding-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	list-style-type: none;
	font-family: 'Abel', Arial, sans-serif;
	font-size: 12px;
}

#mainnav li {
	border-bottom: none; 
}

#mainnav a, nav a:visited { 
	width: 25%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: none;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px; 
	font-style: normal;
	font-weight: 500;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainnav a:hover, nav a:active, nav a:focus {
	background-color: #ebf9b9;
	color: #FFFFF;
	opacity: 30%;
	text-decoration: none;
	width: 25%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:link {
	color: #42413C;
	text-decoration: none; 
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

ul, ol, dl { /
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #94B44F;
	font-style: italic;
	font-weight: lighter;
	padding-top: 19px;
}

h2 { /*large header, used in index and faq*/
	font-family: 'Abel', sans-serif;
	font-size: 40px;
	color: #5e5e5e;
	font-weight: lighter;
	padding-top: 19px;
	
}

h3 { /*top header*/
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #FFFFFF;
	padding-left: 70px;
}

h4, h5 {
	padding-right: 15px;
	padding-left: 15px;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	padding-top: 50px;
}

h6 {	/*footer related*/
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	font-weight: lighter;
}

p {
	font-family: 'Abel', sans-serif;
	font-size: 13px;
	text-align: justify;
	position: relative;
	
}

table {
	border-spacing: 70px;
	padding-left: 370px;
	list-style-type: none;
	
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #CEDEA8;
	min-width: 700px;
	max-width: 1200px;
	
}
